<% layout("/layouts/boilerplate") %>
<div class="row">
    <div class="col-8 offset-2">
<body>
    <h3>create new Listing</h3>
    <br>
      <form method="POST" action="/listing" class = "needs-validation" enctype="multipart/form-data"  novalidate>
        <div class="mb-3">
            <label for="title" class="form-label m-0">Title</label>
            <input name="listing[title]" placeholder="Add a catchy title" type="text" class="form-control m-0" required/>
            <div class="invalid-feedback">title looks good </div>
        </div>
        
      
        <div class="mb-3">
            <label for="description" class="form-label m-0">Description</label>
            <textarea name="listing[description]" type="text" class="form-control m-0 " required></textarea>
            <div class="invalid-feedback">Please enter a short description</div>
        </div>

          <div class="mb-3">
            <label for="image" class="form-label m-0"> Upload Listing Image</label>
            <input name="listing[image]"  type="file" class="form-control m-0" >
            required
        </div>

         <div class="row">

            <div class="mb-3 col-md-4">
              <label for="price" class="form-label m-0">Price</label>
              <input name= "listing[price]" placeholder="1200"  class="form-control m-0" required/>
              <div class="invalid-feedback">Price should be valid</div>
            </div>

            <div class="mb-3 col-md-8">
                <label for="country" class="form-label m-0">Country</label>
                <input name="listing[country]" placeholder="India" type="text" class="form-control m-0" required/>
                <div class="invalid-feedback">Country name should be valid</div>
            </div>

        </div>
         
          
        <div class="mb-3">
            <label for="location" class="form-label m-0">Location</label>
            <input name="listing[location]" placeholder="Kota,Rajasthan" type="text" class="form-control m-0" required/>
            <div class="invalid-feedback">Location should be valid</div>
        </div>
          
         
        <br><br>
        <button class="btn btn-dark add-btn">Add</button>
        
    </form>
    <br><br>
</body>
</div>
</div>
